{% extends "auctions/layout.html" %}

{% block body %}
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<div class="card mb-3" style="max-width: 90%; height: fit-content;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{auction.img.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{auction.title}}</h5>
          <p class="card-text">{{auction.discription}}</p>
          <p class="card-text" style="font-weight:bold">Highest Bid: ${{bid.Bid}}</p>
          <p class="card-text"><small class="text-muted">Category: {{auction.category}}</small></p>
          {% if auction.user_post == request.user %}
          <p class="card-text"><small class="text-muted">Listing posted by you</small></p>
          {% if auction.active %}
          <form action="{% url 'close_listing' auction.id %}" method="post" style="margin-top:20px;">
            {% csrf_token %}
            <input type="submit" value="Close listing">
          </form>
          {% endif %}
          {% else %}
          <p class="card-text"><small class="text-muted">Posted by: {{auction.user_post}}</small></p>
          {% endif %}
          {% if on_watchlist %}
          <div>
            <form action="{% url 'removeWatchlist' auction.id %}" method="post" style="margin-top:20px;">
              {% csrf_token %}
              <input type="submit" value="Remove from watchlist">
            </form>
          </div>
          {% elif not on_watchlist and auction.active %}
          <div>
            <form action="{% url 'add_watchlist' auction.id %}" method="post" style="margin-top:20px;">
              {% csrf_token %}
              <input type="submit" value="Add item to watchlist">
            </form>
          </div>
          {% endif %}
          {% if auction.active and not request.user == auction.user_post %}
          <div>
            <form action="{% url 'make_bid' auction.id %}" method="post" style="margin-top:20px;">
              {% csrf_token %}
              {{bid_form}}
              <input type="submit" value="Make bid">
            </form>
          </div>
          {% endif %}
          {% if not auction.active %}
          <p class="card-text">This auction is closed</p>
          {% endif %}
          {% if not auction.active and request.user == bid.user_bid and not request.user == auction.user_post%}
          <p class="card-text">You have won this acution!</p>
          {% elif not auction.active and request.user == bid.user_bid and request.user == auction.user_post%}
          <p class="card-text">You have withdrawn this listing</p>
          {% elif auction.active and request.user == auction.user_post and request.user == bid.user_bid %}
          <p class="card-text">No bids recieved yet!</p>
          {% endif %}
          <div class="card" style="margin-top:30px">
            <div class="card-header">
              Comments
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                {% for comment in comments %}
                <p>{{comment.comment}}</p>
                <footer class="blockquote-footer">{{comment.user_comment}}</footer>     
                {% endfor %}
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if auction.active %}
  <div id="comment_div">
    <form action="{% url 'process_comment' auction.id %}" method="post" id="comment-form">
      {% csrf_token %}
      {{comment_form}}
      <input type="submit" value="Share">
    </form>
  </div>
  {% endif %}

{% endblock %}