{% extends "auctions/layout.html" %}

{% block body %}
{% for listings in watchlist %}
<a href="{% url 'listing' listings.listing.id %}" class="card mb-3" style="max-width: 100%; height: fit-content;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{listings.listing.img.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{listings.listing.title}}</h5>
          <p class="card-text">{{listings.listing.discription}}</p>
          <p class="card-text">Current bid: {{listings.Bid}}</p>
          {% if request.user == listings.listing.user_post %}
          <p class="card-text"><small class="text-muted">You have posted this listing</small></p>
          {% endif %}
          {% if not listings.listing.active %}
          <p class="card-text"><small class="text-muted">This listing is closed</small></p>
          {% endif %}
          {% if request.user == listings.user_bid and not listings.listing.active %}
          <p class="card-text"><small class="text-muted">You have won this auction!</small></p>
          {% elif request.user == listings.user_bid and not request.user == listings.listing.user_post %}
          <p class="card-text"><small class="text-muted">You are winning the bidding war!</small></p>
          {% elif not listings.listing.active and not request.user == listings.user_bid and not request.user == listings.listing.user_post %}
          <p class="card-text"><small class="text-muted">You have lost the bidding war!</small></p>
          {% endif %}
        </div>
        </div>
        </div>
        </a>
    {% endfor %}
{% endblock %}